body {
	width: 100vw;
	height: 100vh;
	background-image: url("../public/images/Muttart_Conservatory.jpg");
}

.app-container {
	border: 5px solid red;
	height: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Name container */
.header-wrapper {
	border: 3px solid red;
}

/* Page top */
.header-section {
	width: 90%;
	height: 10%;
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.header-wrapper {
	margin: 1em;
	padding: 1%;
}

.nav-section {
	margin: 1em;
	justify-content: space-around;
	align-items: center;
	
}

.direction-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Page body */
.render-area {
	width: 90%;
	margin: 1em;
	height: 50%;
	overflow: scroll;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.section-wrapper {
	display: flex;

}
