.app-container {
	background-color: grey;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header-section {
	align-self: flex-start;
	width: 100%;
	border: 5px solid black;
}

.navbar-section {
	
}

.about-section {
	
}
